body {
  margin:0px;
  background-color:rgba(17, 67, 88, 1);
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:844px;
  background:-webkit-linear-gradient(245.19903501306416deg, rgba(27, 100, 132, 1) 0%, rgba(16, 56, 73, 1) 48%, rgba(8, 29, 38, 1) 100%);
  background:-moz-linear-gradient(204.80096498693584deg, rgba(27, 100, 132, 1) 0%, rgba(16, 56, 73, 1) 48%, rgba(8, 29, 38, 1) 100%);
  background:linear-gradient(204.80096498693584deg, rgba(27, 100, 132, 1) 0%, rgba(16, 56, 73, 1) 48%, rgba(8, 29, 38, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:844px;
  display:flex;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:819px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:16px;
  width:372px;
  height:819px;
  display:flex;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:807px;
  background:inherit;
  background-color:rgba(17, 67, 88, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#114358;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:22px;
  width:360px;
  height:807px;
  display:flex;
  color:#114358;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:4px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:689px;
  width:287px;
  height:43px;
  display:flex;
  font-size:4px;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:703px;
  width:147px;
  height:16px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u6 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:697px;
  width:25px;
  height:28px;
  display:flex;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:205px;
  height:9px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:195px;
  width:200px;
  height:4px;
  display:flex;
  font-size:17px;
  color:#F2AA1F;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:center;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:795px;
  width:341px;
  height:21px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:center;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 170, 31, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:4px;
  color:#000000;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:626px;
  width:287px;
  height:43px;
  display:flex;
  font-size:4px;
  color:#000000;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(242, 170, 31, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:640px;
  width:67px;
  height:16px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u13 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:163px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:231px;
  width:328px;
  height:163px;
  display:flex;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:89px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:76px;
  width:190px;
  height:89px;
  display:flex;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:154px;
  width:341px;
  height:29px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u16 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  padding:2px 48px 2px 16px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  padding:2px 48px 2px 16px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  padding:2px 48px 2px 16px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  padding:2px 48px 2px 16px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  padding:2px 48px 2px 16px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  padding:2px 48px 2px 16px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  background:inherit;
  background-color:rgba(241, 236, 231, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 194, 194, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:520px;
  width:287px;
  height:43px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 48px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u19_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  background:inherit;
  background-color:rgba(241, 236, 231, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.6);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u19.mouseOver {
}
#u19_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  background:inherit;
  background-color:rgba(241, 236, 231, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u19.focused {
}
#u19_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  background:inherit;
  background-color:rgba(241, 236, 231, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 194, 194, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u19.hint {
}
#u19_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  background:inherit;
  background-color:rgba(241, 236, 231, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.6);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u19.mouseOver.hint {
}
#u19_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  background:inherit;
  background-color:rgba(241, 236, 231, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u19.focused.hint {
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
  background:inherit;
  background-color:rgba(241, 236, 231, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.15px;
  color:#AAAAAA;
  text-align:left;
  line-height:24px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:532px;
  width:141px;
  height:24px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.15px;
  color:#AAAAAA;
  text-align:left;
  line-height:24px;
}
#u20 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  padding:2px 48px 2px 16px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u23_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  padding:2px 48px 2px 16px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u23_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  padding:2px 48px 2px 16px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u23_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  padding:2px 48px 2px 16px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u23_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  padding:2px 48px 2px 16px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u23_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  padding:2px 48px 2px 16px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  background:inherit;
  background-color:rgba(241, 236, 231, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 194, 194, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:573px;
  width:287px;
  height:43px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 48px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u23_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  background:inherit;
  background-color:rgba(241, 236, 231, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.6);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u23.mouseOver {
}
#u23_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  background:inherit;
  background-color:rgba(241, 236, 231, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u23.focused {
}
#u23_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  background:inherit;
  background-color:rgba(241, 236, 231, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 194, 194, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u23.hint {
}
#u23_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  background:inherit;
  background-color:rgba(241, 236, 231, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.6);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u23.mouseOver.hint {
}
#u23_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  background:inherit;
  background-color:rgba(241, 236, 231, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u23.focused.hint {
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:24px;
  background:inherit;
  background-color:rgba(241, 236, 231, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.15px;
  color:#AAAAAA;
  text-align:left;
  line-height:24px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:585px;
  width:184px;
  height:24px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.15px;
  color:#AAAAAA;
  text-align:left;
  line-height:24px;
}
#u24 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:454px;
  width:341px;
  height:29px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u25 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:39px;
  width:25px;
  height:25px;
  display:flex;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
