body {
  margin:0px;
  background-color:rgba(17, 67, 88, 1);
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:844px;
  background:-webkit-linear-gradient(245.19903501306416deg, rgba(27, 100, 132, 1) 0%, rgba(16, 56, 73, 1) 48%, rgba(8, 29, 38, 1) 100%);
  background:-moz-linear-gradient(204.80096498693584deg, rgba(27, 100, 132, 1) 0%, rgba(16, 56, 73, 1) 48%, rgba(8, 29, 38, 1) 100%);
  background:linear-gradient(204.80096498693584deg, rgba(27, 100, 132, 1) 0%, rgba(16, 56, 73, 1) 48%, rgba(8, 29, 38, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:844px;
  display:flex;
}
#u431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#F2AA1F;
  text-align:center;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:55px;
  width:251px;
  height:42px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#F2AA1F;
  text-align:center;
}
#u432 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u432_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:578px;
  background:inherit;
  background-color:rgba(241, 236, 231, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(242, 170, 31, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:127px;
  width:364px;
  height:578px;
  display:flex;
}
#u433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 170, 31, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:733px;
  width:39px;
  height:50px;
  display:flex;
}
#u434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:742px;
  width:31px;
  height:32px;
  display:flex;
}
#u435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:217px;
  width:60px;
  height:60px;
  display:flex;
}
#u436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:301px;
  width:60px;
  height:60px;
  display:flex;
}
#u437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:389px;
  width:60px;
  height:60px;
  display:flex;
}
#u438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:473px;
  width:60px;
  height:60px;
  display:flex;
}
#u439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:justify;
  text-justify:inter-word;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:225px;
  width:187px;
  height:40px;
  display:flex;
  font-size:11px;
  text-align:justify;
  text-justify:inter-word;
}
#u440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:232px;
  width:21px;
  height:22px;
  display:flex;
  color:#FF2F2F;
}
#u441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u441_img.mouseOver {
}
#u441.mouseOver {
}
#u441_img.mouseDown {
}
#u441.mouseDown {
}
#u441_img.selected {
}
#u441.selected {
}
#u441_img.mouseOver.mouseDown {
}
#u441.mouseOver.mouseDown {
}
#u441_img.mouseOver.selected {
}
#u441.mouseOver.selected {
}
#u441_img.mouseDown.selected {
}
#u441.mouseDown.selected {
}
#u441_img.mouseOver.mouseDown.selected {
}
#u441.mouseOver.mouseDown.selected {
}
#u441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#090909;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:311px;
  width:169px;
  height:40px;
  display:flex;
  font-size:12px;
  color:#090909;
}
#u442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#090909;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:399px;
  width:192px;
  height:40px;
  display:flex;
  color:#090909;
}
#u443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#090909;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:483px;
  width:169px;
  height:40px;
  display:flex;
  color:#090909;
}
#u444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  letter-spacing:0.4px;
  color:#090909;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:523px;
  width:67px;
  height:16px;
  display:flex;
  font-size:9px;
  letter-spacing:0.4px;
  color:#090909;
}
#u445 .text {
  position:absolute;
  align-self:center;
  padding:10px 8px 10px 8px;
  box-sizing:border-box;
  width:100%;
}
#u445_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.03529411764705882);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  letter-spacing:0.4px;
  color:#090909;
}
#u445.mouseOver {
}
#u445_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.11764705882352941);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  letter-spacing:0.4px;
  color:#090909;
}
#u445.mouseDown {
}
#u445_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.11764705882352941);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  letter-spacing:0.4px;
  color:#090909;
}
#u445.mouseOver.mouseDown {
}
#u445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  letter-spacing:0.4px;
  color:#090909;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:439px;
  width:62px;
  height:16px;
  display:flex;
  font-size:9px;
  letter-spacing:0.4px;
  color:#090909;
}
#u446 .text {
  position:absolute;
  align-self:center;
  padding:10px 8px 10px 8px;
  box-sizing:border-box;
  width:100%;
}
#u446_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.03529411764705882);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  letter-spacing:0.4px;
  color:#090909;
}
#u446.mouseOver {
}
#u446_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.11764705882352941);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  letter-spacing:0.4px;
  color:#090909;
}
#u446.mouseDown {
}
#u446_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.11764705882352941);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  letter-spacing:0.4px;
  color:#090909;
}
#u446.mouseOver.mouseDown {
}
#u446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  letter-spacing:0.4px;
  color:#090909;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:351px;
  width:67px;
  height:16px;
  display:flex;
  font-size:9px;
  letter-spacing:0.4px;
  color:#090909;
}
#u447 .text {
  position:absolute;
  align-self:center;
  padding:10px 8px 10px 8px;
  box-sizing:border-box;
  width:100%;
}
#u447_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.03529411764705882);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  letter-spacing:0.4px;
  color:#090909;
}
#u447.mouseOver {
}
#u447_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.11764705882352941);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  letter-spacing:0.4px;
  color:#090909;
}
#u447.mouseDown {
}
#u447_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.11764705882352941);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  letter-spacing:0.4px;
  color:#090909;
}
#u447.mouseOver.mouseDown {
}
#u447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  letter-spacing:0.4px;
  color:#090909;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:265px;
  width:67px;
  height:16px;
  display:flex;
  font-size:9px;
  letter-spacing:0.4px;
  color:#090909;
}
#u448 .text {
  position:absolute;
  align-self:center;
  padding:10px 8px 10px 8px;
  box-sizing:border-box;
  width:100%;
}
#u448_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.03529411764705882);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  letter-spacing:0.4px;
  color:#090909;
}
#u448.mouseOver {
}
#u448_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.11764705882352941);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  letter-spacing:0.4px;
  color:#090909;
}
#u448.mouseDown {
}
#u448_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.11764705882352941);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  letter-spacing:0.4px;
  color:#090909;
}
#u448.mouseOver.mouseDown {
}
#u448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:233px;
  width:28px;
  height:26px;
  display:flex;
}
#u449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0000AA;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:233px;
  width:135px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#0000AA;
}
#u450 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000AA;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:404px;
  width:149px;
  height:30px;
  display:flex;
  color:#0000AA;
}
#u451 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:404px;
  width:40px;
  height:30px;
  display:flex;
}
#u452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:19px;
  width:25px;
  height:25px;
  display:flex;
}
#u453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:408px;
  width:21px;
  height:22px;
  display:flex;
  color:#FF2F2F;
}
#u454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u454_img.mouseOver {
}
#u454.mouseOver {
}
#u454_img.mouseDown {
}
#u454.mouseDown {
}
#u454_img.selected {
}
#u454.selected {
}
#u454_img.mouseOver.mouseDown {
}
#u454.mouseOver.mouseDown {
}
#u454_img.mouseOver.selected {
}
#u454.mouseOver.selected {
}
#u454_img.mouseDown.selected {
}
#u454.mouseDown.selected {
}
#u454_img.mouseOver.mouseDown.selected {
}
#u454.mouseOver.mouseDown.selected {
}
#u454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/menu/u117_div.png');
  background-repeat:no-repeat;
  background-size:50px 50px;
  background-position: left top;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:10px;
  width:50px;
  height:50px;
  display:flex;
}
#u455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u458_input {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  padding:2px 48px 2px 16px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u458_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  padding:2px 48px 2px 16px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u458_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  padding:2px 48px 2px 16px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u458_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  padding:2px 48px 2px 16px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u458_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  padding:2px 48px 2px 16px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u458_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  padding:2px 48px 2px 16px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(242, 170, 31, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:733px;
  width:291px;
  height:50px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u458 .text {
  position:absolute;
  align-self:center;
  padding:2px 48px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u458_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.6);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u458.mouseOver {
}
#u458_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u458.focused {
}
#u458_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(242, 170, 31, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u458.hint {
}
#u458_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.6);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u458.mouseOver.hint {
}
#u458_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u458.focused.hint {
}
